/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 1
  max_memory = 16.GB
  max_time = 4.h

  // kegg specific parameters
  keggfile = "${baseDir}/data/kegg/kegg_ensembl_enzyme.rds"
  proprdir = "${params.outdir}"
}
