/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Run KEGG on CRG'
  config_profile_description = 'Configuration to run KEGG on CRG cluster'

  // kegg specific parameters
  keggfile = "${baseDir}/data/kegg/kegg_ensembl_enzyme.rds"
  hippiefile = "${baseDir}/example/data/hippie_v2.2.tsv"
  tracedir = "${baseDir}/results_enzyme/kegg-pipeline_info"
}



process {
    executor = 'crg'
    // queue = 'long-sl7'
    maxRetries = 2
    cpus = 1
    time = { ( 15.min * task.attempt ) }
    memory = { (4.GB * task.attempt) }
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
tower {
  accessToken = '57cc4e09eb0909d18d9926731205dfff09a13cc4'
  enabled = true
}
