/*
 * -------------------------------------------------
 *  Nextflow config file for running at CRG
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile crg,singularity
 */

params {
  config_profile_name = 'CRG profile - test'
  config_profile_description = 'Configuration to run on CRG cluster'

  // Run test mode
  test_propr = true
  tissues = "${baseDir}/data/other/tissues_test.txt"
  donors = "${baseDir}/data/other/donors_test.txt"
}

process {
    executor = 'crg'
    queue = 'long-sl7'
    maxRetries = 2
    cpus = 1
    time = { ( 4.h * task.attempt ) }
    memory = { (task.attempt == 1? '48.GB' : 
                task.attempt == 2? '64.GB': 
                '84.GB') }
    withName:get_software_versions {
        cache = false
        queue = 'short-sl7'
        maxRetries = 1
        cpus = { check_max( 1, 'cpus' ) }
        memory = { check_max( 1.GB, 'memory' ) }
        time = { check_max( 5.min, 'time' ) }
  }
}

