/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 1
  max_memory = 4.GB
  max_time = 30.min

  // Run test mode
  test_propr = true
  // methods = "rho_NA_NA"
  tissues = "${baseDir}/data/other/tissues_test.txt"
  donors = "${baseDir}/data/other/donors_test.txt"
}
